<!DOCTYPE html>
<title>{{city_name}}</title>
<body style="background-image: url('https://media.istockphoto.com/vectors/abstract-vector-white-and-gray-subtle-lattice-pattern-background-vector-id1138069810?b=1&k=6&m=1138069810&s=612x612&w=0&h=1eLioCiisxdrQBIVWQPfM4EY9b31nAISq93pYuG4ybA='); background-repeat: no-repeat; background-size: cover;"/>
<h1>{{city_name}}</h1>
<h3>{{city_fact}}</h3>
<p>{{city_content}}</p>
<img src={{img_path}} height="500px" width="750px"/>
<h3>
    <a href="{{url_for('main')}}">Home</a>
    <a href="{{url_for('edit', city_name=city_name)}}">Edit</a>
</h3>
<fieldset>
    <legend>Discussion Board</legend>
    {% for post in city_posts %}
        <p>{{ post|replace("\n'",' ') }}</p>
    {% endfor %}
</fieldset>
<fieldset>
    <legend>Post comment</legend>
    <label for='poster_name'>Name:</label>
    <input type='text' id='poster_name' name="poster_name"><br><br>
    <label for='poster_email'>Email:</label>
    <input type='text' id='poster_email' name="poster_email"><br><br>
    <label for='poster_post'>Your Post:</label>
    <textarea name="poster_post" rows='5'></textarea>
    <input type='submit' value='Post'>
</fieldset>
