<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>
<body>
    <div class="content">
        <title>{{city_name}}</title>
         <button class="button-is-large ">
             <span class="icon-text">
                <span class="icon ">
                    <a href="{{url_for('main')}}"><i class="fas fa-home"></i>home</a>
                </span>
            </span>
        </button>

        <section class="hero is-danger is-small">
            <div class="hero-body">
                <figure class="image center">
                    {% set url = url_for('static', filename='images/city banner.png') %}
                    <img class="image center" src="{{url}}" style="max-width: 1012px"/>
                </figure>
            </div>
        </section>

        <h1 class="title has-text-centered has-background-danger">{{city_name}}</h1>

        <div class="container has-text-centered">
            <button class="button is-medium center">
                <a href="{{url_for('edit', city_name=city_name)}}">Edit</a>
            </button>
            <button class="button is-medium ">
                <a href = "{{url_for('get_history', city_name = city_name)}}">History</a>
            </button>
        </div>

        <h3>{{city_fact}}</h3>
        <blockquote>{{city_content}}</blockquote>
        <img src={{img_path}}  style="max-width: 212px"/>

        <fieldset>
            <legend>Discussion Board</legend>
            {% for post in city_posts %}
                <p>{{ post|replace("\n'",' ') }}</p>
            {% endfor %}
        </fieldset>
    </div>
</body>
