<!DOCTYPE html>
<title>{{city_name}}</title>
<h1>{{city_name}}</h1>
<h3>{{city_fact}}</h3>
<p>{{city_content}}</p>
<img src={{img_path}}/>
<fieldset>
    <legend>Discussion Board</legend>
    {% for post in city_posts %}
        <p>{{ post|replace("\n'",' ') }}</p>
    {% endfor %}
</fieldset>
<fieldset>
    <legend>Post comment</legend>
    <label for='poster_name'>Name:</label>
    <input type='text' id='poster_name' name="poster_name"><br><br>
    <label for='poster_email'>Email:</label>
    <input type='text' id='poster_email' name="poster_email"><br><br>
    <label for='poster_post'>Your Post:</label>
    <textarea name="poster_post" rows='5'></textarea>
    <input type='submit' value='Post'>
</fieldset>
