<!DOCTYPE html>
<form>
    <h1>{{ page_name }}</h1>
    <textarea rows = "40" cols = "60">
        Enter details here...
    </textarea><br>
    <label for="descript_edit">Description of edit:</label><br>
    <input type="text" id="descript_edit" name="descript_edit"><br>
    <label for="fname">Name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="e_email">Email:</label><br>
    <input type="text" id="e_email" name="e_email"><br>
    <input type="submit">
</form>
