<!DOCTYPE html>
<form id = "form">
    <h1>{{ page_name }}</h1>
    <textarea id = "text_area" rows = "40" cols = "60">
        {{ page_content }}
    </textarea><br>
    <label for="descript_edit">Description of edit:</label><br>
    <input type="text" id="descript_edit" name="descript_edit"><br>
    <label for="fname">Name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="e_email">Email:</label><br>
    <input type="text" id="e_email" name="e_email"><br>
    <input type="submit" id = "sub_button">
</form>
