<!DOCTYPE html>
<html>
    <style>
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
    </style>
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
		<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	</head>
	<body>
        <div class="content">
            <img src="{{ url_for('static', filename='images/logo_v1.png') }}" style="max-width: 212px"/>
            <title>{{ page_name }}</title>
            <section class="hero center is-danger is-small">
                <div class="hero-body center">
                    <figure class="image center">
                        {% set url = url_for('static', filename='images/city banner2.png') %}
                        <img class="image" src="{{url}}" style="max-width: 1012px"/>
                    </figure>
                </div>
            </section>

            <h1 class="title has-text-centered has-background-danger">City Selection</h1>
            <div class="container center">
                 <button class="button is-large ">
                    <a href="{{url_for('edit', city_name='add')}}">Add Page</a>
                </button>
            </div>

        </div>
        {% for state,cities in state_dict.items()%}
            <div class="columns is-multiline is-centered">
            {% for city in cities%}
                <div class="column is-one-fifth-desktop">
                    <section class="section" style="max-width: 312px">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title center">
                                    {{state}}
                                </p>
                            </header>
                            <div class="card-image">
                                <figure class="image center">
                                    {% set img = city + ', ' + state + '.jpg' %}
                                    {% set url = url_for('static', filename='images/'+ img) %}
                                    <img src="{{ url }}" style="max-height: 112px"/>
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content center">
                                    {{city}}
                                </div>
                                <footer class"card-footer">
                                    {% set location = city+', '+state %}
                                    {% set url = url_for('city_request', this_page=location) %}
                                    <a href="{{url}}" class="card-footer-item"> Open page</a>
                                </footer>
                            </div>
                        </div>
                    </section>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
	</body>
</html>
