<!DOCTYPE html>
<img src="https://970-c85bcd9f-e0ad-4163-86c2-7b4a6d987f22.cs-us-central1-mtyn.cloudshell.dev/files/download/?id=3bedb95f-f162-4326-a578-5635fed96bd2" height="200px" width="250px"/>
<title>{{ page_name }}</title>
<h1>{{page_name}}</h1>
<style>
table, th, td{
    border: 1px solid black;
}
th, td{
    padding: 10px;
}
</style>
<fieldset>
    <legend><h3>Cities</h3></legend>
    <table>
        <tr>
            <th>State/Province</th>
            <th>Cities</th>
        </tr>
        {%for state,cities in state_dict.items()%}
        <tr>
            <td>{{state}}</td>
            {% for city in cities %}
                {% set location = city+', '+state %}
                {% set url = url_for('city_request', this_page=location) %}
                <td><a href= "{{ url }}">{{city}}</a></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</fieldset>
