<!DOCTYPE html>
<html>
    <style>
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
    </style>
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet/css" href="/static/main.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
		<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	</head>
	<body>
		<img src="https://970-c85bcd9f-e0ad-4163-86c2-7b4a6d987f22.cs-us-central1-mtyn.cloudshell.dev/files/download/?id=1164e1ca-138b-4fe8-9aa4-a1d82699e171" style="max-width: 212px"/>
        <title>{{ page_name }}</title>
        <h1 class="title center has-background-danger">{{page_name}}</h1>

        <section class="section" style="max-width: 312px">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title center">
                    Texas
                </p>
            </header>
            <div class="card-image">
                <figure class="image center">
                    <img src="https://970-c85bcd9f-e0ad-4163-86c2-7b4a6d987f22.cs-us-central1-mtyn.cloudshell.dev/files/download/?id=794cbb11-ed8a-4674-8f8f-b8edd627db80" style="max-width: 512px"/>
                </figure>
            </div>
            <div class="card-content">
                <div class="content center">
                    El Paso
                </div>
                <footer class"card-footer">
                    {% set url = url_for('city_request', this_page="El Paso, Texas") %}
                    <a href="{{url}}" class="card-footer-item"> Open page</a>
                </footer>
            </div>
        </div>
        </section>
	</body>
</html>
